fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pandas
numpy
scikit-learn
xgboost
fpdf2
SpeechRecognition
requests
httpx
email-validator
